a, a:active, a:hover, a:focus  {
    color: #222;
}

.wpthemeHeaderNav ul li a:focus, 
.wpthemeHeaderNav ul li a:hover,
.wpthemeHeaderNav ul li.wpthemeSelected  a{
	background-color: #FFCC00;
	color: #222;
}

.wpthemeBanner {
	background: none repeat scroll 0 0 #FFcc00;
    border-bottom: 1px solid #938300;
    padding: 0 0 2px;
}


.wpthemeBannerInner {
	background: #666664; /* Old browsers */
	background: -moz-linear-gradient(top, #666664 0%, #040404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666664), color-stop(100%,#040404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666664 0%,#040404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666664 0%,#040404 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #666664 0%,#040404 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666664', endColorstr='#040404',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #666664 0%,#040404 100%); /* W3C */
	border-bottom: 1px solid #FFE88B;
	border-top: 1px solid #999;
}


.wpthemeBanner .wpthemePrimaryNav li a{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: 0 1px 2px #000000;
	text-decoration: none;
	font-weight: bold;
	display: block;
	color: #ddd;
}

.wpthemeBanner .wpthemePrimaryNav li a:focus, 
.wpthemeBanner .wpthemePrimaryNav li a:hover, 
.wpthemeBanner .wpthemePrimaryNav li a:active {
	background: #707070; /* Old browsers */
	background: -moz-linear-gradient(top, #707070 0%, #040404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#707070), color-stop(100%,#040404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #707070 0%,#040404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #707070 0%,#040404 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #707070 0%,#040404 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#040404',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #707070 0%,#040404 100%); /* W3C */
    border-left-color: #505050;
    border-right-color: #505050;
    color: #FFFFFF;
	box-shadow: 1px 0 0 #111, -1px 0 0 #111, 0px 0 0 #111 inset,0px 0 0 #111 inset;
	font-weight: bold;
	text-shadow: 0 1px 2px #000;
	text-decoration: none;
}

.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a, 
.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:focus, 
.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:hover,
.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:active {
	background: #838383; /* Old browsers */
	background: -moz-linear-gradient(top, #838383 0%, #040404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#838383), color-stop(100%,#040404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #838383 0%,#040404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #838383 0%,#040404 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #838383 0%,#040404 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#838383', endColorstr='#040404',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #838383 0%,#040404 100%); /* W3C */
    border-left-color: #505050;
    border-right-color: #505050;
    color: #FFFFFF;
	box-shadow: 1px 0 0 #111, -1px 0 0 #111, 0px 0 0 #111 inset,0px 0 0 #111 inset;
	font-weight: bold;
}

.wpthemeFooter {
    border-top: 1px solid #FFCC00;
}

.wpthemeControlBody {
	padding: 10px;
}

.edit-mode .wpthemeControl.wpthemeHidden {
	padding: 0px;
}

.wpthemeControl.wpthemeStandard {
	padding: 0px;
}

.wpthemeControlHeader {
	background: #222;
    background: -moz-linear-gradient(center top , #AAA 0%, #222 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AAA), color-stop(100%,#222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #AAA 0%,#222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #AAA 0%,#222 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #AAA 0%,#222 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAA', endColorstr='#222',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #AAA 0%,#222 100%); /* W3C */
    border: 0 none;
    display: block;
    height: 2.4em;
    width: inherit;
}

.edit-mode .wpthemeControl.wpthemeHidden .wpthemeControlHeader{
	display: block;
}

.wpthemeControlHeader a.wpthemeIcon img {
	display: block;
	background-position:0 -290px;
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

.wpthemeControlHeader .wpthemeIcon {
	display:block;
	float: right;
}

.wpthemeControl .wpthemeControlHeader h2 {
	display: block;
	float: left;
	color: #fff;
	padding-left: 10px;
}

.wpthemeControlHeader .wpthemeInner {
	width: 100%;
	display: block;
}