body {
	background: #fff;
	color: #6C6C72;
}

a, a:active {
    color: #6C6C72;
}

a:hover, a:focus { 
	color: #222; 
	text-decoration: underline;
}

.wpthemeHeader{
	background: transparent;
	border-bottom: 0;
	border-top: 5px solid #c1c1c1;
}

.wpthemeHeaderNav ul li a, 
.wpthemeHeaderNav ul li a:active {
	color: #6C6C72;
}

.wpthemeHeaderNav ul li a:focus, 
.wpthemeHeaderNav ul li a:hover,
.wpthemeHeaderNav ul li.wpthemeSelected a{
	text-decoration: underline;
	color: #6C6C72;
	background: transparent;
}

.wpthemeEditControl{
	border: 1px solid #222;
	border-radius: 0px;
	background: #6C6C72; 
	box-shadow: none;
}

.edit-mode .wpthemeEditControl{
	background: #f1f1f1; 
	border: 1px solid #6C6C72;
	box-shadow: none;

}

.wpthemeBanner{
	background: transparent;
	border: 0;
}

.wpthemeBannerInner{
	background: transparent;
	filter: none;
	border: 0;
	padding: 0;
}

.wpthemeCommonActions > li > span, 
.wpthemeCommonActions li a, 
.wpthemeCommonActions li a:active{
	color: #6C6C72;
	margin: 24px 0;
	border-right: 0;
}

.wpthemeCommonActions li a:hover,
.wpthemeCommonActions li a:focus{
	color: #6C6C72;
	text-decoration: underline;
}

.wpthemeCommonActions .wpthemeBranding {
	display: none;
}

.wpthemeCommonActions a.wpthemeHelp, 
.wpthemeCommonActions a.wpthemeHelp:focus, 
.wpthemeCommonActions a.wpthemeHelp:hover, 
.wpthemeCommonActions a.wpthemeHelp:active {
	margin-top: 24px;
}

.wpthemePrimaryNav li a {
    color: #6C6C72;
	font-size: 1.25em;
	text-shadow: none;
	border: 0;
}
	
.wpthemePrimaryNav li a:focus, 
.wpthemePrimaryNav li a:hover, 
.wpthemePrimaryNav li a:active {
	background: transparent; 
	filter: none;
    color: #6C6C72;
	font-weight: bold;
	text-shadow: none;
	text-decoration: none;
	box-shadow: none;
	border-left: 0;
	border-right: 0;
	border-bottom: 5px solid #c1c1c1;
}

.wpthemePrimaryNav li.wpthemeSelected a, 
.wpthemePrimaryNav li.wpthemeSelected a:focus, 
.wpthemePrimaryNav li.wpthemeSelected a:hover,
.wpthemePrimaryNav li.wpthemeSelected a:active {
	background: transparent; 
	filter: none;
    color: #6C6C72;
	font-weight: bold;
	text-shadow: none;
	text-decoration: none;
	box-shadow: none;
	border-left: 0;
	border-right: 0;
	border-bottom: 5px solid #6C6C72;
}

.wpthemeSecondaryBanner .wpthemeNavContainer1 {
	background: none;
	border-bottom: 1px solid #d2d2d2;
}

.wpthemeSecondaryBanner {
	background: transparent;
	font-size: 0.9em;
}

.wpthemeSecondaryNav li{
	border-top: 1px solid #D2D2D2;
	margin: 0 2px -1px 2px;
}

.wpthemeSecondaryNav a, 
.wpthemeSecondaryNav a:active {
	color: #6C6C72;
	padding: 4px 10px;
	margin: 0;
}

.wpthemeNavContainer1 .wpthemeSecondaryNav a:focus, 
.wpthemeNavContainer1 .wpthemeSecondaryNav a:hover{
	color: #6C6C72;
	text-decoration: none;
	background: #f1f1f1; 
	background: -moz-linear-gradient(top, #fff 0%, #f1f1f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff 0%,#f1f1f1 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fff 0%,#f1f1f1 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#fff1f1f1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fff 0%,#f1f1f1 100%); /* W3C */
}

.wpthemeNavContainer1 .wpthemeSecondaryNav .wpthemeSelected a, 
.wpthemeNavContainer1 .wpthemeSecondaryNav .wpthemeSelected a:active,
.wpthemeNavContainer1 .wpthemeSecondaryNav .wpthemeSelected a:focus, 
.wpthemeNavContainer1 .wpthemeSecondaryNav .wpthemeSelected a:hover {
	background: #F3F3F3; 
	background: -moz-linear-gradient(top, #fff 0%, #F3F3F3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#F3F3F3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fff 0%,#F3F3F3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fff 0%,#F3F3F3 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fff 0%,#F3F3F3 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#FFF3F3F3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fff 0%,#F3F3F3 100%); /* W3C */
    border-bottom: 0;
}

.wpthemeNavContainer2 .wpthemeSecondaryNav a:focus, 
.wpthemeNavContainer2 .wpthemeSecondaryNav a:hover{
	text-decoration:underline;
}

.wpthemeLogo {
	background-color: #6C6C72;
	display: block;
}

.wpthemeBanner  .wpthemeBranding img {
	background-position:0 -705px;
	-moz-opacity: .6;
	opacity: 0.6; 
	filter: alpha(opacity=60);
}

.wpthemeSearch {
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 0;
    margin: 7px 20px 5px 0;
    padding: 0px 6px;
}

.wpthemeMainContent {
	background: #f3f3f3;
}

.wpthemeControl.wpthemeHidden  .wpthemeControlBody {
    box-shadow: 0 1px 3px #D7D7D7;
	border: 1px solid #D7D7D7;
	padding: 10px;
}

.edit-mode .wpthemeControl.wpthemeHidden  .wpthemeControlBody {
    box-shadow: none;
	border: 0;
	padding: 0;
}
	
.wpthemeControlHeader {
    border-bottom: 1px solid #E5E5E5;
    border-top: 3px solid #6C6C72;
}

.wpthemeControl {
	background: #fff;
}

.wpthemeFooter {
	background: transparent;
    border-top: 1px solid #d2d2d2;
}

.wpthemeFooter h3 {
	text-shadow: none;
}

.wpthemeFooter a {
	color: #6C6C72;
}

.utb-hover-link{
	background-color: rgba(0,0,0,.5);
}

.wptheme_ie7 .utb-hover-link,
.wptheme_ie8 .utb-hover-link {
	background-color: #7f7f7f;
}

.utb-project-info.utb-hover-link:hover {
	background-color: rgba(0,0,0,.6);
}
.wptheme_ie7 .utb-project-info.utb-hover-link:hover,
.wptheme_ie8 .utb-project-info.utb-hover-link:hover {
	background-color: #666;
}

.utb-project-quicklink a {
	color: #6C6C72;
}

.utb-project-quicklink a:hover, 
.utb-project-quicklink a:focus {
	background-color: rgba(0,0,0,.5); 
	color: #fff;
}

.wptheme_ie7 .utb-project-quicklink a:hover, 
.wptheme_ie7 .utb-project-quicklink a:focus,
.wptheme_ie8 .utb-project-quicklink a:hover, 
.wptheme_ie8 .utb-project-quicklink a:focus  {
	background-color: #7f7f7f; 
	color: #fff;
}