/*** BODY & DOCUMENT ***/
body {
	background-color: #ededed;    
	color: #222;
	font: 75%/1.5 Arial,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
}
	
.wptheme_ie7 body { 
	position: relative;
}

body.locale_ja, .locale_ja * {
	font-family: "MS UI Gothic","MS PGothic","Apple Gothic",Arial,Helvetica,sans-serif;
}

a, a:active { 
	color: #10498F; 
	text-decoration: none;
}

a:hover, a:focus { 
	color: #05386B; 
	text-decoration: underline;
}

img {
	border: 0 none; 
	vertical-align: middle;
}

article, aside, footer, header, hgroup,  nav, section {display:block} /*html 5 elements*/
/*** end BODY & DOCUMENT ***/

/*** UTILITY ***/
.wpthemeFrame { min-width: 980px; }
.wpthemeInner, .wpthemeSecondaryNav {margin: 0 auto; width: 980px;}
.wpthemeLeft {float: left;text-align:left;}
.wpthemeRight {float: right;text-align:right;}
.wpthemeClear {clear: both;}
.wpthemeDisplayNone {display: none;}
.wpthemeOverflowAuto {overflow: auto;}
.wpthemeUnderlineText:hover, .wpthemeUnderlineText:focus {text-decoration:underline; cursor:pointer;}

/* Accesibility */
.wpthemeAccess {position: absolute; top: -50000px;}
.wpthemeAltText { display: none;}
.wpthemeImagesOff .wpthemeAltText {display: block;}
/*** end UTILITY ***/

/*** HEADER ***/
.wpthemeHeader {
    background-color: #424142;
    padding: 5px 0;
    overflow: hidden;
    text-align: left;
}

/* Logo - DISABLED - remove "display:none" to enable logo */
.wpthemeLogo {
	display: none;
    background-image: url("../images/master.png");
	background-position:0 -758px;
	width:95px;
	height:18px;
	margin-top: 5px;
}

/*** Top Navigation - 800theme_topNav dynamic spot ***/
.wpthemeHeader .wpthemeNavContainer1 {
	float: left;
}

.wpthemeHeaderNav ul {
    padding: 0 0 0 5px;
	margin: 0;
	line-height: 2.1em;
}

.wpthemeHeaderNav ul li {
    display: block;
    margin: 0;
    font-size: 0.9em;
    color: #fff;
    padding: 0px 2px;
}

.wpthemeHeader .wpthemeHeaderNav ul li a:link, 
.wpthemeHeader .wpthemeHeaderNav ul li a:active ,
.wpthemeHeader .wpthemeHeaderNav ul li a:visited{
	color: #fff;
	font-weight: normal;
	padding: 3px 13px;
}

.wpthemeHeader .wpthemeHeaderNav ul li a:focus, 
.wpthemeHeader .wpthemeHeaderNav ul li a:hover,
.wpthemeHeader .wpthemeHeaderNav ul li.wpthemeSelected a{
	color: #fff;
	text-decoration: none;
	background-color: #595959; /* required for IE */
	background-color: rgba(255, 255, 255, 0.25);
}
/*** end HEADER ***/

/*** BANNER ***/
.wpthemeBanner {
	background: none repeat scroll 0 0 #008ABF;
    border-bottom: 1px solid #0075A3;
    padding: 0 0 2px;
}

.wpthemeBannerInner {
	background: #111111;
	background: -moz-linear-gradient(top, #474747 0%, #111111 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474747), color-stop(100%,#111111)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #474747 0%,#111111 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #474747 0%,#111111 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #474747 0%,#111111 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #474747 0%,#111111 100%); /* W3C */
	border-bottom: 1px solid #1A96C6;
	border-top: 1px solid #1A1A1A;
}

.wpthemeBanner ul {
	margin: 0;
	padding: 0;
    overflow: visible;
	list-style-type: none;
	line-height: 1.67;
}

/* Edit and View buttons - 80theme_pageModeToggle dynamic spot */
.wpthemeModeToggle {
	border:solid black 1px !important; 
	background-color:#3b3b3b !important; 
	-moz-border-radius:2px 2px 2px 2px; 
	-webkit-border-radius:2px 2px 2px 2px; 
	height:2.3em; 
	color:white; 
	margin: 2px 2px 0;
	vertical-align:middle; 
	padding:3px 10px 5px; 
	background-image:-moz-linear-gradient(center top, #7E7D7D 0%, #5A5D5A 6%, #3b3b3b 100%); 
	background-image:-webkit-gradient(linear, left top, left bottom, from(#7E7D7D), to(#3b3b3b));
	cursor:pointer; 
	display:inline; 
	font-weight:bold; 
	font-size:0.9em; box-shadow: 1 1px 1 rgba(255, 255, 255, 0.15);
	float:right;
}

.wpthemeModeToggle:hover {
	background-image:-moz-linear-gradient(center top, #8d8d8d 0%, #707070 6%, #4e4e4e 100%); 
	background-image:-webkit-gradient(linear, left top, left bottom, from(#8d8d8d), to(#4e4e4e)); 
	background-color:#4e4e4e !important;
}

.lotusui_ie7 .wpthemeModeToggle {
	padding:1px 0 0;
}

.wpthemeOverlay {
	display:none;
	position:absolute;
	z-index:100;
	width:100%;
	background:rgba(1, 1, 1, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#af404040, endColorstr=#af404040);
}
.wpthemeOpen, 
.wpthemeOpen .wpthemeOverlay {
	height:19.4em !important;
}
.wpthemeMinimized, 
.wpthemeMinimized .wpthemeOverlay {
	height: 3.2em !important;
}
.wpthemeOverlay .wpthemeOverlayImg {
    background-image:url("../images/loading.gif");
    background-repeat:no-repeat;
	height:16px;
	width:16px;
	margin-left:49%;
}
.wpthemeOpen .wpthemeOverlay .wpthemeOverlayImg {
	margin-top:9.7em;
}
.wpthemeMinimized .wpthemeOverlay .wpthemeOverlayImg {
	margin-top: 1em;
}

.wpthemeLoading .wpthemeOverlay {
	display:inline;
}

/* Primary Navigation - 80theme_primaryNav dynamic spot  */
.wpthemeBanner .wpthemeNavContainer1 {
	float: left;
}

.wpthemePrimaryNav li {
    margin: 0;
    padding: 0;
	display: block;
	margin: 0 1px 0 0;
}

.wpthemeBanner .wpthemePrimaryNav li a:link,
.wpthemeBanner .wpthemePrimaryNav li a:visited{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-shadow: 0 1px 2px #000000;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 18px 20px;
	color: #ddd;
}

.wpthemeBanner .wpthemePrimaryNav li a:focus, 
.wpthemeBanner .wpthemePrimaryNav li a:hover, 
.wpthemeBanner .wpthemePrimaryNav li a:active {
	background: #505050; 
	background: -moz-linear-gradient(#505050, #101010) repeat scroll 0 0 transparent; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#505050), color-stop(100%,#101010)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #505050 0%,#101010 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #505050 0%,#101010 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #505050 0%,#101010 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#101010',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #505050 0%,#101010 100%); /* W3C */
    border-left-color: #585858;
    border-right-color: #585858;
    color: #fff;
	box-shadow: 1px 0 0 #111, -1px 0 0 #111, 0px 0 0 #111 inset,0px 0 0 #111 inset;
	font-weight: bold;
	text-shadow: 0 1px 2px #000;
	text-decoration: none;
}

.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:link, 
.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:focus, 
.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:hover,
.wpthemeBanner .wpthemePrimaryNav .wpthemeSelected a:active {
	background: #585858; 
	background: -moz-linear-gradient(#585858, #161616) repeat scroll 0 0 transparent; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#585858), color-stop(100%,#161616)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #585858 0%,#161616 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #585858 0%,#161616 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #585858 0%,#161616 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #585858 0%,#161616 100%); /* W3C */
    border-left-color: #585858;
    border-right-color: #585858;
    color: #fff;
	box-shadow: 1px 0 0 #111, -1px 0 0 #111, 0px 0 0 #111 inset,0px 0 0 #111 inset;
	font-weight: bold;
}

/* Common Actions */
.wpthemeCommonActions > li {
    display: block;
    float: left;
    margin: 0;
    font-size: 0.9em;
    color: #fff;
    padding: 0px 6.5px;
}

.wpthemeBanner ul.wpthemeCommonActions > li > span, 
.wpthemeBanner ul.wpthemeCommonActions li a:link, 
.wpthemeBanner ul.wpthemeCommonActions li a:visited,
.wpthemeBanner ul.wpthemeCommonActions li a:active {
	color: #fff;
	font-weight: normal;
	display: block;
	border-right: 1px solid #4b4b4b; /* required for IE */
	border-right: 1px solid rgba(255,255,255,.15);
	margin: 18px 0;
    padding: 0 10px 0 0;
}

.wpthemeBanner ul.wpthemeCommonActions li a:focus, 
.wpthemeBanner ul.wpthemeCommonActions li a:hover {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
}

.wpthemeBanner .wpthemeCommonActions a.wpthemeHelp:link,
.wpthemeBanner .wpthemeCommonActions a.wpthemeHelp:focus,
.wpthemeBanner .wpthemeCommonActions a.wpthemeHelp:hover,
.wpthemeBanner .wpthemeCommonActions a.wpthemeHelp:active {
	border: 0;
	margin-top: 20px;
	margin-left: 10px;
}

.wpthemeCommonActions .wpthemeHelp img{
	background-image: url("../images/master.png");
	background-position: 0 -812px;
	width:16px;
	height:16px;
}

.wpthemeCommonActions .wpthemeHelp img:hover {
	background-position:0 -786px;
}

.wpthemeBanner ul.wpthemeCommonActions .wpthemeBranding {
	display: block;
	border: 0;
	padding-top: 1px;
}

.wpthemeActionDisabled:hover,.wpthemeActionDisabled:focus {
	cursor: not-allowed;
}

.wpthemeActionDisabled .wpthemeUnderlineText:hover,
.wpthemeActionDisabled .wpthemeUnderlineText:focus {
	cursor: not-allowed;
}

.wpthemeBanner .wpthemeBranding img {
    background-image: url("../images/master.png");
	background-position:0 -654px;
	width:36px;
	height:16px;
	border: 0 none;
    line-height: 0;
    vertical-align: middle;
	display: block;
}
/*** end BANNER ***/

/*** SUB-BANNER ***/
.wpthemeSecondaryBanner {
	background: #fff; 
	margin: 0;
	padding: 0;
}

/* secondary nav - 800theme_secondaryNav dynamic spot */
.wpthemeSecondaryNav{
	clear: both;
}

.wpthemeSecondaryNav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.wpthemeSecondaryNav li{
    border-color: #D2D2D2;
    border-width: 0 1px;
	border-style: solid;
    margin: 0 -1px 0 0;
}

.wpthemeSecondaryNav a, 
.wpthemeSecondaryNav a:active {
	color: #10498F;
	margin: 6px 20px 6px 0; 
	padding: 0 0 0 20px; 
	display: block;
}

.wpthemeSecondaryNav a:focus, 
.wpthemeSecondaryNav a:hover{
	color: #05386B;
	text-decoration: none;
}

.wpthemeSecondaryBanner .wpthemeNavContainer1{
	background: #f8f8f8; 
	background: -moz-linear-gradient(top, #f8f8f8 0%, #f8f8f8 84%, #e7e7e7 94%, #d2d2d2 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(84%,#f8f8f8), color-stop(94%,#e7e7e7), color-stop(100%,#d2d2d2)); 
	background: -webkit-linear-gradient(top, #f8f8f8 0%,#f8f8f8 84%,#e7e7e7 94%,#d2d2d2 100%); 
	background: -o-linear-gradient(top, #f8f8f8 0%,#f8f8f8 84%,#e7e7e7 94%,#d2d2d2 100%); 
	background: -ms-linear-gradient(top, #f8f8f8 0%,#f8f8f8 84%,#e7e7e7 94%,#d2d2d2 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#d2d2d2',GradientType=0 ); 
	background: linear-gradient(top, #f8f8f8 0%,#f8f8f8 84%,#e7e7e7 94%,#d2d2d2 100%); 
	margin: 0; 
	padding: 0;
}

.wpthemeSecondaryBanner .wpthemeNavContainer1 .wpthemeSelected  {
	background-color: #FFFFFF;
}

.wpthemeSecondaryBanner .wpthemeNavContainer2{
	border-bottom: 1px solid #e7e7e7; 
	background: #fff;
}

.wpthemeSecondaryBanner .wpthemeNavContainer2 .wpthemeSecondaryNav li, 
.wpthemeSecondaryBanner .wpthemeNavContainer2 .wpthemeSecondaryNav .wpthemeFirst,
.wpthemeSecondaryBanner .wpthemeNavContainer2 .wpthemeSecondaryNav a.wpthemeFirst a,
.wpthemeSecondaryBanner .wpthemeNavContainer2 .wpthemeSecondaryNav a.wpthemeFirst:active {
	border: 0;
}

.wpthemeSecondaryBanner .wpthemeNavContainer2 .wpthemeSecondaryNav a, 
.wpthemeSecondaryBanner .wpthemeNavContainer2 .wpthemeSecondaryNav a:active {
	border-left: 1px solid #D2D2D2;
}

.wpthemeSecondaryBanner .wpthemeNavContainer2 .wpthemeSelected  {
	font-weight: bold;
}
/*** end SUB-BANNER ***/

/*** NAVIGATION CRUMB TRAIL ***/
.wpthemeCrumbTrail {
	margin: 6px 0 0 20px;
}

.wpthemeCrumbTrail a {
	color: #222;
	font-weight: normal;
}

.wpthemeCrumbTrail a :hover, 
.wpthemeCrumbTrail a :focus {
	color: #222;
	text-decoration: underline;
}

.wpthemeCrumbTrailSeparator{
	padding: 0px 5px;
}

.wpthemeCrumbTrail .wpthemeSelected{
	font-weight: bold;
}
/*** end NAVIGATION CRUMB TRAIL ***/

/*** SEARCH ***/
.wpthemeSearch {
	margin: 7px 20px 8px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 12px;
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	padding: 2px 6px;
}

.wpthemeSearch form{
	margin:0;
}

.wpthemeSearch input.wpthemeSearchText{
	width: 14em;
	background: transparent;
	padding-left: 5px;
	font-size: 0.9em;
	color: #999;
	border: 0;
}

.wpthemeSearch input.wpthemeSearchButton {
	background-image: url("../images/master.png");
	background-position:0 -224px;
	-moz-opacity: .4;
	opacity: 0.4; 
	filter: alpha(opacity=40);
	border: 0;
	width:12px;
	height:12px;
	padding: 0 2px 2px 0;
	vertical-align: middle;
}
/*** end SEARCH ***/

/*** MAIN ***/
.wpthemeMainContent{
	background: #fff; 
	min-height: 400px;
}

.wpthemeLayoutContainers {
    padding: 10px 0;
}
/*** end MAIN ***/

/*** FOOTER ***/
.wpthemeFooter {
	border-top: 1px solid #e6e6e6;
	background-color: #EDEDED;
}

.wpthemeFooter h3 {
	margin-top: 25px;
	margin-bottom: 4px;
	text-shadow: 1px 1px #ccc;
}

.wpthemeFooterCol {
	padding: 0 10px;
	width: 300px;
	text-align: left;
}

.wpthemeFooter ul {
	font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.wpthemeFooter .wpthemeFooterCol ul li {
	margin: 4px 0;
	display: block;
}

.wpthemeFooter .wpthemeFooterCol ul li a:link,
.wpthemeFooter .wpthemeFooterCol ul li a:hover,
.wpthemeFooter .wpthemeFooterCol ul li a:active ,
.wpthemeFooter .wpthemeFooterCol ul li a:visited{
	color: #222;
	font-weight: normal;
	padding: 0;
}
/*** end FOOTER ***/

/*** SKINS ***/
.wpthemeControl {
	width: auto;
	padding: 0;
	margin: 0 0 20px;
	background: transparent;
}

.wpthemeControlHeader {
	display: table;
    width: 100%;
	background-color: transparent;
    background-image: none;
    border-bottom: 1px solid #E5E5E5;
    border-top: 3px solid #000000;
    margin: 0;
}

.wptheme_ie7 .wpthemeControlHeader { /* display: table not supported by ie7 */
    display: block;
}

.wpthemeControl .wpthemeControlHeader h2 {
	margin: 0;
	font-size: 1em;
	padding-left: 10px;
    display: table-cell;
    font-weight: bold;
    padding: 5px 5px 5px 0px;
    vertical-align: middle;
}

.wptheme_ie7 .wpthemeControl .wpthemeControlHeader h2 { /* display: table-cell not supported by ie7 */
    display: block;
	float: left;
}

.wpthemeControlHeader .wpthemeInner{
	display: table-row;
}

.wptheme_ie7 .wpthemeControlHeader .wpthemeInner{ /* display: table-row not supported by ie7 */
	display: block;
	width: 100%;
}

.wpthemeControlHeader .wpthemeIcon {
    padding: 8px 1px;
    display: table-cell;
    vertical-align: top;
    width: 20px;
	outline: medium none;
	text-decoration: none;
	font-size: 0.9em;
}

.wptheme_ie7 .wpthemeControlHeader .wpthemeIcon { /* display: table-cell not supported by ie7 */
    display: block;
	float: right;
}

.wpthemeControlHeader a.wpthemeIcon img{
    background-image: url("../images/master.png");
	background-position:0 -268px;
	-moz-opacity: .5;
	filter: alpha(opacity=50);
	opacity: 0.5;
	width:12px;
	height:12px;
	display: block;
}

.wpthemeControlHeader  a.wpthemeIcon:focus { /* creates outline around element for accessibility */
	border: 1px dotted black;
	padding: 7px 0;
}

/* Hidden Skin */
.wpthemeControl.wpthemeHidden .wpthemeControlHeader {
	display: none;
}

.edit-mode .wpthemeControl.wpthemeHidden .wpthemeControlHeader {
	display: table;
}

.wptheme_ie7 .edit-mode .wpthemeControl.wpthemeHidden .wpthemeControlHeader {
	display: block;
}

.edit-mode .wpthemeControl.wpthemeHidden {
    box-shadow: 0 1px 3px #D7D7D7;
	border: 1px solid #D7D7D7;
    padding: 10px;
}

/* Standard Skin */
.wpthemeControl.wpthemeStandard {
    box-shadow: 0 1px 3px #D7D7D7;
	border: 1px solid #D7D7D7;
    padding: 10px;
}
/*** end SKINS ***/

/** WINDOW STATES ***/
.ibm-minimized .wpthemeControl .wpthemeControlBody {display: none;}
.ibm-maximized {margin: 10px 15px; max-width:100%}
/*** end WINDOW STATES ***/

/*** LAYOUTS ***/
/* columns */
.wpthemeCol{margin-left: 20px;min-height: 20px;}
.edit-mode .wpthemeCol{border: 1px dotted #222;}
.wptheme1Col .wpthemeCol {width:940px;}
.wptheme2Col .wpthemeCol {width:460px;}
.wptheme3Col .wpthemeCol {width:300px;}
.wptheme2Col.wpthemeUnequal .wpthemePrimaryContainer {width:620px;}
.wptheme2Col.wpthemeUnequal .wpthemeSecondaryContainer {width:300px;}
.wptheme3Col.wpthemeUnequal .wpthemePrimaryContainer {width:550px;}
.wptheme3Col.wpthemeUnequal .wpthemeSecondaryContainer,
.wptheme3Col.wpthemeUnequal .wpthemeTertiaryContainer {width:175px;}
.wpthemeTopCol .wpthemeHeadlineContainer {width: 945px; margin-right: 15px; margin-bottom: 20px;}
/* rows */
.wpthemeRow {overflow:auto; margin: 0 20px 20px; padding-left: 5px;}
.edit-mode .wpthemeRow {border: 1px dotted #111; min-height: 260px;}
.wpthemeRow .wpthemeControl .wpthemeControlBody{height:200px; overflow:auto;}
.wpthemeRow .wpthemeControl ,.hiddenWidgetsDiv .wpthemeControl {float: left; margin-right:7.5px; width:436px;}
.wptheme_ie7 .hiddenWidgetsDiv .wpthemeControl {width: 415px;}
.wpthemeMainContent .hiddenWidgetsDiv { background-color:#ccc; margin-left: 7.5px;}
.wpthemeMainContent .hiddenWidgetsContainer { display:none; min-height:267px !important; border-bottom:1px solid #bbb;margin-bottom: 20px;}
.hiddenWidgetsDiv .wpthemeControl {border:1px dashed #777; background-color:#fff;}
.hiddenWidgetsDiv .hiddenWidgetMessage { background-color:#bbb; color:#000; border-bottom:1px solid #aaa; margin:0 -7.5px 7.5px; line-height:2.7em; padding:0 10px;}
/*** end LAYOUTS ***/

/*** IWIDGETS ***/
.mumHiddenWidget, .iw-Definition, .iw-ItemSet, .iw-ReceivedEvent{display: none;}
.iw-loading{display: none;}
.wpthemeControlBody .iw-iWidget, .wpthemeControlBody .iw-Content{height:100%;}
.wpthemeLayoutContainers .iw-loading{display:inline;} 
/*** end IWIDGETS ***/

/*** DYNAMIC PAGE CLOSE BUTTON ***/
.wpthemeNavList .wpthemeClose,
.wpthemeNavList .wpthemeClose:active {
	border-style: none !important;
    margin: 9px 20px 9px -10px;
    padding: 0;
}
.wpthemeHeaderNav .wpthemeClose,
.wpthemeHeaderNav .wpthemeClose:active {
	margin-left: -2px;
    margin-top: 11px;
}
.wpthemePrimaryNav .wpthemeClose,
.wpthemePrimaryNav .wpthemeClose:active {
	margin-top: 23px;
}
.wpthemePrimaryNav .wpthemeSelected .wpthemeClose,
.wpthemePrimaryNav .wpthemeSelected .wpthemeClose:active {
	margin-left: -15px;
}
.wpthemeSecondaryNav .wpthemeClose,
.wpthemeSecondaryNav .wpthemeClose:active {
	margin-top: 10px;
}
/*** end DYNAMIC PAGE CLOSE BUTTON ***/